{% extends 'chat/chat.html' %}
{% block content %}

<form method="post" id="add-user-form" class="form-group">
       <div class="row">
           <input type="text" placeholder="Search by name, username" name="search" style="width: 210px">
           <input type="submit" name="btn-search" class="btn btn-success" style="background-color:#7289da;" value="Search">

       </div>
       {% for user in search_users %}
         <a href="/chat/dm-add/{{user.id}}/" id="user_card">
             <li class="list-group-item list-group-item-action user-list">
                <p>@{{user.username}}</p>
             </li>
         </a>
      {% endfor %}
</form>

{% endblock %}
