{% extends 'chat/index.html' %}
{% block body %}
<nav class="blue lighten-3">
    <div class="nav-wrapper container">
      <a href="" class="brand-logo">Collegion</a>
      <ul id="nav-mobile" class="right">
          <li><a href="">{{ request.user.username }}</a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
</nav>
<div class="section" style="height: 80vh">
<div class="row">
    <div class="col s3">
    <div class="card">
        <div class="orange lighten-3 chatrooms">
<!--            purple #800080-->
            <h4 class="group-chat-label" style="color:#800080;">Chatrooms</h4>
            <div>
                <div class="tooltip">
                    {% if request.user.profile.is_anonymous %}
                        <span class="tooltiptext">Anonymous Off</span>
                        <form method="post" action="{%url 'chat_room:anonymous' %}">
                            <div class="switch">
                                <label>
                                  <input type="checkbox" name="anon_box" onchange="this.form.submit()" checked>
                                  <span class="lever"></span>
                                </label>
                            </div>
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                    {% else %}
                        <span class="tooltiptext">Go Anonymous</span>
                        <form method="post" action="{%url 'chat_room:anonymous' %}">
                            <div class="switch">
                                <label>
                                  <input type="checkbox" name="anon_box" onchange="this.form.submit()">
                                  <span class="lever"></span>
                                </label>
                            </div>
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                    {% endif %}
                </div>
                <div class="tooltip">
                    <span class="tooltiptext">Create Group Chat</span>
                    <a href="{% url 'chat_room:create-chatroom' %}" class="material-icons group-add" style="color:#006ee6;">
                        group_add
                    </a>
                </div>
            </div>
        </div>
        <div id="chatroom" class="collection">
            {% for room in chatroom %}
            <a href="{% url 'chat_room:message-chatrooms' room.id %}" id="chat_room${room.id}" class="collection-item row">

                <div class="col s10 chatrooms">
                <!--  <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg" class="col s2"> -->
                    <span class="title" style="font-weight: bolder">{{ room.name }}</span>
                    <a href="{% url 'chat_room:add-to-group' room.id %}" class="material-icons person_add_alt" style="color:#006ee6;">
                        person_add_alt
                    </a>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="orange lighten-3 chatrooms">
            <h4 class="group-chat-label" style="color:#800080;">Direct Message</h4>
            <div class="tooltip">
                <span class="tooltiptext">Add User to List</span>
                <a href="{% url 'Collegion_Backend:add-dm-user-form' %}" class="material-icons group-add" style="color:#006ee6;">
                    person_add_alt
                </a>
            </div>
        </div>
        <div id="dms" class="collection">
            {% for dm in direct_messages %}
            <a href="/chat/{{request.user.id}}/{{dm.id}}/" id="user${receiverId}" class="collection-item row">
<!--                <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg" class="col s2">-->
                <div class="col s10">
                <span class="title" style="font-weight: bolder">{{ dm.username }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col s9">
        <div class="card">
            {% if sender %}
            <div class="dmheader blue lighten-4">
                <span class="title" style="font-weight: bolder; margin-left: 1vw; font-size: 20px; color:#800080">{{sender}}</span>
            </div>
            {% elif group_name %}
            <div class="dmheader blue lighten-4">
                <span class="title" style="margin-left: 1vw; font-size: 20px; color:#800080">{{group_name}}</span>
                <div class="pull-right" style="margin-right:1vw;">
                    <div class="tooltip">
                        <span class="tooltiptext">Add Member</span>
                        <a href="{% url 'chat_room:add-to-group' chatroom_id %}" class="material-icons" style="color:#006ee6;">
                            person_add_alt
                        </a>
                    </div>
                    <div class="tooltip">
                        <span class="tooltiptext">Leave Group</span>
                        <a href="{% url 'chat_room:remove-from-group' chatroom_id %}" class="material-icons" style="color:#006ee6;">
                            delete
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">

            {% block content %}

            {% endblock %}

        </div>
        <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col s11">
                    <div class="input-field">
                        <input id="id_message" name="message" type="text" placeholder="Type your message..">
                    </div>
                </div>
                <div class="col s1" style="line-height: 80px">
                    <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">send</i></button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</div>
{% load static %}

{% if is_chatroom %}
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        chatroom_id = "{{ chatroom_id }}";
        is_anonymous = "{{ anonymous_str }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send_chatroom("{{ request.user.username }}", "{{ request.user.profile.anonymous_name }}", '{{ chatroom_id }}', message.val(), is_anonymous);
                message.val('');
            })
        })
    </script>
{% else %}
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            })
        })
    </script>
{% endif %}
{% endblock %}
