{% extends 'chat/chat.html' %}
{% block hide %}{% endblock %}
{% block content %}

    {% for message in messages %}
        {% if message.anonymous %}
            {% if message.sender == request.user %}
            <div class="card-panel right left" style="width: 75%; position: relative; background-color:#404ca1;">
                <div style="position: absolute; top: 0; left:3px; font-weight: bolder;" class="title text-color">{{ request.user.profile.anonymous_name }}</div>
                <span style="color:#c1c9d6;;">{{ message }}</span>
            </div>
            {% else %}
            <div class="card-panel background-collection " style="width: 75%; position: relative">
                <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title text-color">{{ message.sender.profile.anonymous_name }}</div>
                <span style="color:#c1c9d6;">{{ message }}</span>
            </div>
            {% endif %}
        {% else %}
            {% if message.sender == request.user %}
            <div class="card-panel right" style="width: 75%; position: relative; background-color:#404ca1;">
                <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title text-color">You</div>
                <span style="color:#c1c9d6;">{{ message }}</span>
            </div>
            {% else %}
            <div class="card-panel left background-collection" style="width: 75%; position: relative">
                <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title text-color">{{ message.sender }}</div>
                <span style="color:#c1c9d6;">{{ message }}</span>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

{% if is_chatroom %}
<script>
$(function () {
    $('#user{{ receiver.id }}').addClass('active');
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,2000)
})
</script>
{% else %}
<script>
$(function () {
    $('#user{{ receiver.id }}').addClass('active');
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,2000)
})
</script>
{% endif %}
{% endblock %}
